root {
    --main-color: #003a8c;
}




.main-bc {
    background-color: #002766;
    color: #fff !important;
}

.text-color-w {
    color: #fff !important;
}

.secondary-c {
    color: #006d75 !important;
}