root {
  --main-color: #000000;
}

.main-bc {
  background-color: #000000;
  color: #fff !important;
}

.text-color-w {
  color: #fff !important;
}

.secondary-c {
  color: #13c2c2 !important;
}

.main-black {
  background-color: #000000;
}
