.icon-section {
  margin-top: -24px;
}

.icon-section > svg {
  margin-left: 11px;
}

.ant-progress-text {
  color: #fff !important;
}

.ant-menu-item-selected {
  background-color: #13c2c2 !important;
}
